<%- include("includes/head.ejs")%> <%- include("includes/navigation.ejs")%>
<main class="mx-auto w-3/4">
  <h1 class="text-4xl m-6">All Authors</h1>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Address</th>
          
        </tr>
      </thead>
      <tbody>
        <% for (let author of authorlist){ %>
        <tr>
          <th>1</th>
          <td><%= author.dataValues.name %></td>
          <td><%= author.dataValues.address %></td>          
          <td>
            <a href="#" class="btn btn-xs btn-outline btn-accent mr-1">Edit</a>
            <a href="#" class="btn btn-xs btn-outline btn-accent">Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="mx-auto">
    <a href="/admin/addAuthor" class="btn btn-accent mt-4 btn-sm">Add Author</a>
  </div>
</main>

<%- include("includes/footer.ejs")%>
