<%- include("includes/head.ejs")%> <%- include("includes/navigation.ejs",{loggedin})%>
<main class="mx-auto w-3/4">
  <h1 class="text-4xl m-6">All Books</h1>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th>S.No</th>
          <th>title</th>
          <th>author</th>
          <th>price</th>
          <th>genre</th>
          <th>publish date</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% booklist.forEach((value,index)=>{ %>
        <tr>
          <th><%= index+1 %></th>
          <td><%= value.title %></td>
          <td><%= value.author %></td>
          <td><%= value.price %></td>
          <td><%= value.genre %></td>
          <td><%= value.publishDate %></td>
          <td>
            <a href="#" class="btn btn-xs btn-outline btn-accent mr-1">Edit</a>
            <a href="/admin/deleteBook/<%= value.id%>?loggedin=true " class="btn btn-xs btn-outline btn-accent">Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="mx-auto">
    <a href="/admin/addBook?loggedin=true" class="btn btn-accent mt-4 btn-sm">Add Book</a>
  </div>
</main>

<%- include("includes/footer.ejs")%>
