<%- include("includes/head.ejs")%> <%- include("includes/navigation.ejs")%>
<main class="mx-auto w-3/4">
  <h1 class="text-4xl m-6">All Genres</h1>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>          
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let genre of genrelist){ %>
        <tr>
          <th>1</th>
          <td><%= genre.dataValues.name %></td>          
          <td>
            <a href="/admin/updateGenre/<%= genre.dataValues.id %>" class="btn btn-xs btn-outline btn-accent mr-1">Edit</a>
            <a href="/admin/deleteGenre/<%= genre.dataValues.id %>" class="btn btn-xs btn-outline btn-accent">Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="mx-auto">
    <a href="/admin/addGenre" class="btn btn-accent mt-4 btn-sm">Add Genre</a>
  </div>
</main>

<%- include("includes/footer.ejs")%>
