<%- include("includes/head.ejs")%> <%- include("includes/navigation.ejs",{loggedin})%>
<main class="mx-auto w-3/4">
  <h1 class="text-4xl m-6">All Roles</h1>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>          
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% rolelist.forEach((value,index)=>{ %>
        <tr>
          <th><%= index+1 %></th>
          <td><%= value.role %></td>          
          <td>
            <a href="/admin/updateRole/<%= value.id %>" class="btn btn-xs btn-outline btn-accent mr-1">Edit</a>
            <a href="/admin/deleteRole/<%= value.id %>" class="btn btn-xs btn-outline btn-accent">Delete</a>
          </td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
  <div class="mx-auto">
    <a href="/admin/addRole" class="btn btn-accent mt-4 btn-sm">Add Role</a>
  </div>
</main>

<%- include("includes/footer.ejs")%>
