<%- include("includes/head.ejs")%> <%- include("includes/navigation.ejs")%>
<main class="mx-auto w-3/4">
  <h1 class="text-4xl m-6">All Authors</h1>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>email</th>
          <th>Password</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let user of userlist){ %>
        <tr>
          <th>1</th>
          <td><%= user.dataValues.name %></td>
          <td><%= user.dataValues.username %></td>
          <td><%= user.dataValues.password %></td>
          <td>
            <button class="btn btn-xs btn-outline btn-accent mr-1">Edit</button>
            <button class="btn btn-xs btn-outline btn-accent">Delete</button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="mx-auto">
    <button class="btn btn-accent mt-4 btn-sm">Add User</button>
  </div>
</main>

<%- include("includes/footer.ejs")%>
